<h1>My Quotes</h1>
<hr>
<ul>
  <div class="container">
    <div class="row">
        <app-quote-form></app-quote-form>
    </div>
    <div class="row" *ngFor='let quote of quotes;let i=index'>
    <li  id="{{i}}" appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</li>
    <button  (click)='toogleDetails(i)'>Show Author</button>
   <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'completeQuote($event,i)'></app-quote-details>
    </div>
  </div>
</ul>
