<p>{{quote.description}}</p>
<h4>{{quote.name}}</h4>
<p>Time elapsed{{quote.completeDate|dateCount}} days</p>
<button (click) = 'quoteComplete(true)'> Delete </button>
<button (click)='voteUp()' class="btn btn-default btn-up" type="submit">
   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
   <span class="badge">{{upvote}}</span>
</button>

<button  (click)='voteDown()' class="btn btn-default btn-down" type="submit">
   <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
   <span class="badge">{{downvote}}</span>
</button>


<button (click) = 'quoteComplete(true)'class="btn-complete" >Delete Quote</button>
